/node_modules/
/lib/
/test/

# top level source
fc-menuitem.js
fc-menuitem.js.map
fc-menuitem.d.ts
fc-menuitem.d.ts.map
iron-collapse-button.d.ts
iron-collapse-button.d.ts.map
iron-collapse-button.js
iron-collapse-button.js.map
debug.log
